* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    position: absolute;
    top: 30%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 1em;
    background-color: lightblue;
    padding: 1em;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.form h3 {
    margin: 1em 0;
}

.formInput {
    margin: 1em;
}

.form button {
    width: 10em;
    padding: 1em;
    margin: 0 auto;
}